:root {
	/* colors */
	--clr-dark: #2e323f;
	--clr-med: #3b4050;
	--clr-gray: #6f737f;
	--clr-light: #a59678;
	--clr-light-fade: rgba(186, 185, 181, 0.993);

	--clr-white: #fff;

	/* fonts */
	--ff-sans-Bold: "Oswald Bold", sans-serif;
	--ff-sans-Regular: "Montserrat", sans-serif;

	/* font-sizes */
	--fs-90px: 5.625rem;
	--fs-80px: 5rem;
	--fs-70px: 4.375rem;
	--fs-44px: 2.75rem;
	--fs-42px: 2.625rem;
	--fs-36px: 2.25rem;
	--fs-30px: 1.875;
	--fs-24px: 1.5rem;
	--fs-21px: 1.31rem;
	--fs-18px: 1.125rem;
	--fs-16px: 1rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

body {
	margin: 0;
	font-family: var(--ff-sans-Regular);
	font-size: var(--fs-21px);
}

img {
	max-width: 100%;
	display: block;
}

h1 {
	color: var(--clr-white);
	font-size: var(--fs-44px);
	font-family: var(--ff-sans-Bold);
	margin-bottom: 1em;
}

span {
	color: var(--clr-light);
}

.btn {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--clr-white);
	font-size: var(--fs-22px);
	font-family: var(--ff-sans-Bold);
	font-weight: 900;
	background-color: var(--clr-light);
	padding: 0.75em 2em;
	border-radius: 100px;
}

.btn:hover,
.btn:focus {
	opacity: 0.75;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

header {
	background-color: var(--clr-dark);
	padding: 1em 0;
	text-align: center;
}

.nav {
	width: 100%;
	font-size: 1rem;
}

.nav-toggle {
	cursor: pointer;
	border: 0;
	width: 3em;
	height: 3em;
	padding: 0em;
	border-radius: 50%;
	background: var(--clr-gray);
	color: white;
	transition: opacity 250ms ease;

	position: absolute;
	right: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
	opacity: 0.75;
}

.hamburger {
	width: 50%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background: white;
}

.hamburger::before,
.hamburger::after {
	content: "";
	width: 100%;
}

.hamburger::before {
	transform: translateY(-6px);
}

.hamburger::after {
	transform: translateY(3px);
}

.nav {
	visibility: hidden;
	height: 0;
	/* position: absolute; */
	font-size: 1rem;
}

.nav--visible {
	visibility: visible;
	height: auto;
	position: relative;
}

.nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__list--primary {
	margin-bottom: 2em;
}

.nav__item {
	margin-top: 0.75em;
}

.nav__link {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.nav__list:hover,
.nav__list:focus {
	opacity: 0.65;
}

.nav__link--button {
	padding: 0.25em 0.75em;
	background-color: var(--clr-light);
	color: var(--clr-white);
	border-radius: 100px;
	text-transform: uppercase;
	text-decoration: none;
}

.logo {
	height: 30px;
	margin-right: 1em;
}

.hero {
	background-color: var(--clr-med);
	padding: 5rem 0;
}

.hero__text p {
	color: var(--clr-light);
	font-size: var(--fs-24px);
	margin-bottom: 2em;
	line-height: 1.5;
}

.section-one {
	background-color: var(--clr-light-fade);
	padding: 5rem;
}

.section-one p {
	font-family: var(--ff-sans-Regular);
	font-size: var(--fs-18px);
	text-align: center;
	line-height: 1.5;

	margin-bottom: 1.5em;
}

.intro-title {
	font-family: var(--ff-sans-Bold);
	font-size: var(--fs-30px);
	color: #a59678;
	text-align: center;
	margin-bottom: 0.5em;
}

.section-two {
	padding: 2rem;
}

.section-title {
	font-family: var(--ff-sans-Bold);
	font-size: var(--fs-36px);
	color: var(--clr-light);
	margin-bottom: 1em;
}

.section-two p {
	font-family: var(--ff-sans-Regular);
	margin-bottom: 2em;
	line-height: 1.5;
}

.section-two img {
	margin-bottom: 1.5em;
}

.sidebar p {
	margin-bottom: 0;
}

.sidebar-box {
	padding: 1em;
	text-align: center;
	color: #fff;
	background-color: var(--clr-med);
	margin-bottom: 1em;
}

.sidebar-title {
	font-family: var(--ff-sans-Bold);
	font-size: var(--fs-30px);
	margin-bottom: 1em;
}

.sidebar p {
	font-family: var(--ff-sans-Regular);
	font-size: var(--fs-18px);
	line-height: 1.5;
}

footer {
	background-color: var(--clr-med);
	padding: 5rem;
	text-align: center;
	color: var(--clr-white);
	font-family: var(--ff-sans-Regular);
	font-size: var(--fs-16px);
}

.footer-about {
	margin-bottom: 1.5em;
	line-height: 1.5;
}

.footer-heading {
	font-family: var(--ff-sans-Bold);
	font-size: var(--fs-36px);
	color: var(--clr-white);
	margin-bottom: 2em;
}

.footer-title {
	font-family: var(--ff-sans-Bold);
	font-size: var(--fs-21px);
	color: var(--clr-light);
	margin-bottom: 1em;
}

.nav__list--footer {
	margin-bottom: 2em;
}

.nav__list--footer .nav__link {
	text-transform: none;
	line-height: 2.5;
}

@media (min-width: 700px) {
	.nav-toggle {
		display: none;
	}

	.nav {
		visibility: visible;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: auto;
		position: relative;
	}

	.nav__item {
		margin-top: 0;
		margin-right: 1em;
	}

	.nav__list {
		margin: 0;
		display: flex;
	}

	.sidebar {
		display: flex;
	}

	.sidebar-box + .sidebar-box {
		margin-left: 1em;
	}
}

@media (min-width: 1000px) {
	.row {
		display: flex;
		justify-content: space-between;
	}

	.hero {
		display: flex;
	}

	.hero h1 {
		font-size: var(--fs-70px);
		width: 50%;
	}

	.hero__text {
		align-self: flex-end;
		width: 50%;
	}

	.intro-one {
		display: flex;
		justify-content: space-between;
	}

	.intro + .intro {
		margin-left: 2em;
	}

	.section-two {
		padding: 5rem;
	}

	.primary-content {
		width: 63%;
	}

	.sidebar {
		width: 33%;
		flex-direction: column;
		justify-content: flex-start;
	}

	.sidebar-box + .sidebar-box {
		margin-left: 0;
	}

	.footer-container {
		display: flex;
		flex-direction: row;
		text-align: left;
		justify-content: space-between;
	}

	.footer-about {
		max-width: 40%;
	}

	.nav__list--footer {
		flex-direction: column;
	}
}
